h1, div{
    background-color: purple;
    color: white;
    text-align: center;
}

.foodimage {
    height: auto;
    width: 300px;
}

.WW {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingreds, .steps {
    background-color: greenyellow;
    color: white;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#chicken {
    font-weight: 800;
    font-stretch: semi-expanded;
}