h1 {
    background-color: purple;
    color: white;
    text-align: center;
}

.burger {
    height: auto;
    width: 300px;
}

.WW {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}